.AddPost-form {
  width: 60%;
  margin: auto;
}

.AddPost-form input, .AddPost-form textarea {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  margin: 10px auto;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
}

.AddPost-form textarea {
  height: 200px;
}

.AddPost-form button {
  font-family: inherit;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.AddPost-form input:hover, .AddPost-form textarea:hover {
  border: 1px solid #42A5F5;
  border-radius: 2px;
}

.AddPost-btn {
  display: block;
  width: 120px;
  height: 47px;
  line-height: 30px;
  letter-spacing: 2px;
  font-size: 17px;
  font-weight: bold;
  background-color: #42A5F5;
  color: #F7F3E9;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 15px 0;
}

